<h1> index of books </h1>
<div class="p-5">
</div>
<h2> This week's Popular books </h2>
<p>Carousel/grid</p>

<%# Grid Container %>
<div class="row mb-3 text-center">
      <div class="col-md-4 themed-grid-col">.col-md-4</div>
      <div class="col-md-4 themed-grid-col">.col-md-4</div>
      <div class="col-md-4 themed-grid-col">.col-md-4</div>
    </div>

<p>Create an account to favorite/ add to your list</p>
